body{
    background: linear-gradient(70deg, white, black);
}


.items{
    display: flex; 
    align-items: center; 
    flex-wrap: wrap;
}

.image{
    max-height: 150px;
    min-height: 150px;
}

.link{
    color: black;
}



.item{
    border: 1px solid rgb(150, 61, 61);
    padding: 15px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    background-color: white;
    
}
